{
  comments: false,
  compact: true,
  presets: [
    'env',
    'react',
    'stage-2'
  ],
  plugins: [
    'lodash',
    'react-hot-loader/babel',
    'transform-react-jsx',
    'transform-object-assign',
    'transform-decorators-legacy',
    'transform-object-rest-spread',
    'transform-runtime'
  ]
}
