.house

  &__wrap
    margin 0 10px 0
    width 300px
    min-height 100px
    border-radius 3px
    background-color #89aeb3

    &:hover
      background-color #65a6cc
      cursor pointer

    &_current
      background-color #8ebe86
      box-shadow 0 0 10px

      &:hover
        background-color #8ebe86

    &_disabled
      background-color #ccc

      &:hover
        background-color #ccc
        cursor default

  &__title
    font-size 3em
    text-align center
