.row

  &__wrap
    margin 0 auto 40px
    width 1180px
    min-height 100px

  &__list
    display flex
    justify-content space-around

    &_sections
      padding 0 130px
      display flex
      flex-wrap wrap

    &_flats
      padding 0 200px
      display flex
      flex-wrap wrap

  &__title
    font-size 2em

.section

  &__wrap
    margin 0 10px 10px 0
    padding 10px 20px
    min-width 100px
    border-radius 3px
    background-color #89aeb3
    font-size 2em
    color #ffffff
    text-align center

    &:hover
      background-color #65a6cc
      cursor pointer

    &_current
      background-color #8ebe86
      box-shadow 0 0 10px

      &:hover
        background-color #8ebe86

  &__title
    font-size 3em
    text-align center

.flat

  &__wrap
    margin 0 10px 10px 0
    padding 10px
    min-width 50px
    border-radius 3px
    background-color #89aeb3
    font-size 2em
    color #ffffff
    text-align center

    &:hover
      background-color #65a6cc
      cursor pointer

    &_current
      background-color #8ebe86
      box-shadow 0 0 10px

      &:hover
        background-color #8ebe86

  &__title
    font-size 3em
    text-align center
